$margin-top-from-logo: var(--margin-top-from-logo);
.login-section {
  margin-top: 50px;
  .login {
    .login__container {
      max-width: 480px;
      margin: 0 auto;
      padding: 24px;
      margin-top: $margin-top-from-logo;

      .login__container-title {
        font-weight: 700;
        font-size: 1.5rem;
      }
      .login__container-controls {
        margin-top: 30px;
      }
    }
  }
}
