.latestposts-section {
  .latestposts__container {
    max-width: 800px;
    margin: 0 auto;
    .latestposts-header {
      align-items: flex-end;
      justify-content: space-between;

      .title {
        font-weight: 700;
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .latestposts-section {
    .latestposts-header {
      align-items: flex-end;
      justify-content: space-between;

      .title {
        font-weight: 700;
        font-size: 1.375rem;
      }
    }
  }
}
