@charset "utf-8";
// If need, change your variables before importing Bulma
@import "./variables.scss";
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
$grey-dark: #363636;
$link: $primary-blue-color;
$fullhd: 1240;
@import "../node_modules/bulma/bulma.sass";

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: $gray-bg;
  min-height: 100vh;
  --error-text-color: #{$error-text};
  --margin-top-from-logo: #{$margin-top-from-logo};
  --light-gray: #{$light-gray};
  --navbar-item-color: #{$navbar-item-color};
  --footer-bg-color: #{$footer-bg-color};
  --theme-color-1: #{$primary-blue-color};
}

.is-danger.input,
.is-danger.textarea {
  border-color: $error-text !important;
}

.is-link {
  color: $link-color;
}

.navbar-item {
  font-size: 0.875rem;
  font-weight: 400;
}
