$primary-blue-color: #2062f0;
$gray-bg: #f7f7f7;
$white: #ffffff;
$error-text: #d8000c;
$margin-top-from-logo: 24px;
$light-gray: #767676;
$link-color: #008489;
$navbar-item-color: #555555;
$footer-bg-color: #262626;
